<section id="aboutHeader" class="jumbotron container">
	<h1>Our Creators</h1>
</section>

<!--About Section-->
<section id="aboutSection" class="jumbotron container">
	<div>
		<a href="http://students.washington.edu/yutonp/info343/portfolio"><img ng-src="img/me.jpg" class="img-circle" id="creatorsPic"></a>
		<a href="http://students.washington.edu/yutonp/info343/portfolio"><img ng-src="img/me.jpg" class="img-circle" id="creatorsPic"></a>
		<a href="http://students.washington.edu/yutonp/info343/portfolio"><img ng-src="img/me.jpg" class="img-circle" id="creatorsPic"></a>
		<a href="http://students.washington.edu/yutonp/info343/portfolio"><img ng-src="img/me.jpg" class="img-circle" id="creatorsPic"></a>
		<p>Lorem ipsum dolor sit amet, arcu luctus at sit, et id a suscipit, a nisl orci lectus sed non dis, aliquet nam justo nec maecenas diam. Blandit vulputate mi massa, tortor nulla vivamus, ac pellentesque sed mauris imperdiet condimentum justo. Sem sit eros vitae adipiscing cras. Porttitor sit, ac a, velit nec leo felis sollicitudin molestie amet, eget venenatis, vivamus mauris. Nunc est primis rutrum duis id, nisl dis, wisi nihil nunc ut, amet ut sed cum vitae, mattis molestie dolor consectetur. Vitae at. Dignissim purus donec sapien ipsum, malesuada molestie id sit in, eget dapibus neque suspendisse in ac mi, nam erat pede in non in, ut nec dictum porta commodo. Enim tellus, malesuada potenti elementum odio, ultrices et orci diam. Sapien morbi erat. Justo lacus, pellentesque donec adipiscing. Erat interdum sit sed, a neque interdum nec vestibulum, nisl orci inceptos pharetra volutpat et, vel eget eleifend tincidunt libero amet orci. Luctus in.</p>
	</div>
</section>

<footer>
    <h2 id="contact-title">Contact Us</h2>
</footer>
