<!-- home.html -->

<!-- <section id="News" class="container"> -->
<div class="slider-wrapper default">
	<div id="slider">
	    <a href="http://500px.com/photo/47412316" target="_blank">
	    	<h2 class="content fade" style="position:absolute;top:70%;right:70%;">Karin</h2>
	    	<img src="img/1.jpg" class="bg" />
	    </a>
	    <a href="http://500px.com/photo/39845938" target="_blank">
	    	<h2 class="content from-bottom" style="position:absolute;top:70%;left:70%;">Oliver</h2>
	    	<img src="img/2.jpg" class="bg" />
	    </a>
	    <a href="http://500px.com/photo/43565628" target="_blank">
	    	<h2 class="content from-left" style="position:absolute;top:20%;left:70%;">Carina</h2>
	    	<img src="img/3.jpg" class="bg" />
	    </a>
	</div>
</div>
<!-- </section> -->

<section id="homeSection" class="jumbotron container">
    <h2>Hi!</h2>
    <p>This is ServingSelflessly</p>
</section>

<footer>
    <h2 id="contact-title">Connect</h2>
    <div class="container">
        <div class="contact-space row">
            <div class="col-md-2 col-md-offset-1">
                <a target="_blank" href="mailto:yutonp@uw.edu"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://www.facebook.com/angel.pan.1656"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://www.linkedin.com/in/yutong-pan-34022091"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://github.com/angelpyt"><i class="fa fa-github-alt fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://twitter.com/fireangelP"><i class="fa fa-twitter fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>





