<!-- home.html -->

<!-- <section id="News" class="container"> -->
<div class="slider-wrapper default">
	<div id="slider">
	    <a href="http://www.bizjournals.com/seattle/blog/2015/05/seattle-foundations-givebig-fundraiser-blows-past.html" target="_blank">
	    	<h2 class="content fade" style="position:absolute;top:20%;left:70%;">Seattle Foundation's GiveBig fundraiser blows past 2014 totals</h2>
	    	<img src="img/1.jpg" class="bg" />
	    </a>
	    <a href="http://nooga.com/171781/cfc-announces-nonprofit-dedicated-to-growing-soccer-scene/" target="_blank">
	    	<h2 class="content from-bottom" style="position:absolute;top:20%;left:70%;">CFC announces nonprofit dedicated to growing soccer scene</h2>
	    	<img src="img/2.jpg" class="bg" />
	    </a>
	    <a href="http://globalwa.org/2015/11/nonprofit-with-land-rights-project-in-india-wins-humanitarian-award/" target="_blank">
	    	<h2 class="content from-left" style="position:absolute;top:20%;left:70%;">Nonprofit with Land Rights Project in India Wins Humanitarian Award</h2>
	    	<img src="img/3.jpg" class="bg" />
	    </a>
	</div>
</div>
<!-- </section> -->

<section id="homeSection" class="jumbotron container">
    <h2>Hi!</h2>
    <p>This is ServingSelflessly.This is a website for you to??? MORE</p>
    <img ng-src="img/MAP.png">
</section>

<footer>
    <h2 id="contact-title">Follow Us</h2>
    <div class="container">
        <div class="contact-space row">
            <div class="col-md-2 col-md-offset-1">
                <a target="_blank" href="mailto:yutonp@uw.edu"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://www.facebook.com/angel.pan.1656"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://www.linkedin.com/in/yutong-pan-34022091"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://github.com/angelpyt"><i class="fa fa-github-alt fa-lg"></i></a>
            </div>
            <div class="col-md-2">
                <a target="_blank" href="https://twitter.com/fireangelP"><i class="fa fa-twitter fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>





